@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;500;700;900&display=swap");
* {
	font-size: 25px;
}

body {
	margin: 0 auto;
	padding: 0;
	font-family: "roboto";
	background-color: hwb(7 88% 8%);

	display: flex;
	justify-content: center;
}

#app {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.create-card-btn {
	margin-top: 30px;
	padding: 10px 30px;
	margin-bottom: 30px;
	background-color: #61a5c2;
	border: none;
	border-radius: 10px;
	padding: 25px 45px;
	font-size: 30px;
	color: #ffffff;
}

.new-card-div {
	display: flex;
	justify-content: center;
	margin: 0 auto;
	min-width: 20vw;
	max-width: 50vw;
}

.create-card-div {
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	text-align: center;
	align-items: center;
	margin-top: 200px;
	background-color: #e9ecef;
	min-width: 15vw;
	max-width: 50vw;

	border: #ced4da 5px solid;
	border-radius: 15px;

	font-size: 25px;
	display: none;
	position: absolute;
}

.cardDeleteBtn,
.cardEditBtn {
	margin-top: 10px;
}

.questionLabel,
.answerLabel,
.hintLabel {
	font-size: 25px;
	color: darkcyan;
}

.cancel-icon {
	display: flex;
	justify-content: right;
	margin: 0 auto;
	margin-right: 20px;
	margin-top: 20px;
}

.fa-solid {
	font-size: 60px;
	cursor: pointer;
}

h1 {
	font-size: 45px;
	margin-bottom: 20px;
	display: flex;
	flex-direction: column;
	text-align: center;
	margin-top: -20px;
}

.create-card-div-info {
	display: flex;
	flex-direction: column;
}

.label-input-div {
	display: flex;
	flex-direction: column;
}

label {
	font-size: 30px;
	display: inline-block;
	text-align: left;
	margin-left: 100px;
	margin-top: 20px;
	margin-bottom: -10px;
}

input {
	font-size: 30px;
	border: none;
	border-radius: 15px;
	margin: 0 auto;
	margin-left: 100px;
	margin-right: 100px;
	padding: 40px 60px;
	cursor: pointer;
	outline: none;
}

#add-new-btn {
	margin-top: 30px;
	padding: 15px 35px;
	margin-bottom: 30px;
	border: none;
	border-radius: 10px;
	font-size: 30px;
	color: #ffffff;
	background-color: #f6aa1c;
}

.hide {
	display: none;
}

.flashcardInfoDiv {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	align-items: center;
	margin: 0 auto;
	margin: 30px 50px;
	background-color: #efeeef;
	/* padding: 60px 90px; */
	border: 5px solid #dcd9e2;
	border-radius: 20px;
	width: 900px;
	height: 750px;
	padding-top: 20px;
}

.questionLabel,
.answerLabel,
.hintLabel {
	color: #333232;
	font-size: 35px;
	display: inline-block;
	margin-top: 20px;
	margin-bottom: 10px;
}

.questionHolder,
.answerHolder,
.hintHolder {
	background-color: #dcd9e2;
	font-size: 25px;
	border: none;
	border-radius: 20px;
	margin: 0 auto;
	/* margin-left: 100px;
	margin-right: 100px; */
	padding-top: 20px;
	width: 700px;
	height: 40px;
	cursor: pointer;
	outline: none;
	text-align: center;
}

.show-hide-btn {
	border: 2px solid #1a1a1a;
	border-radius: 15px;
	box-sizing: border-box;
	color: #3b3b3b;
	cursor: pointer;
	display: inline-block;
	font-size: 26px;

	margin: 0;
	min-height: 60px;
	min-width: 0;
	outline: none;
	padding: 10px 15px;
	text-align: center;
}

.new-card-holder {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.flashcardButtonHolder {
	display: flex;
	flex-direction: row;
}

.cardDeleteBtn {
	margin-top: 20px;
	margin-left: 10px;
	margin-right: 10px;
	padding: 15px 35px;
	/* margin-bottom: 30px; */
	border: none;
	border-radius: 10px;
	font-size: 30px;
	color: #ffffff;
	background-color: #c32f27;
}

.cardEditBtn {
	margin-top: 20px;
	margin-left: 10px;
	margin-right: 10px;
	padding: 15px 35px;
	/* margin-bottom: 30px; */
	border: none;
	border-radius: 10px;
	font-size: 30px;
	color: #ffffff;
	background-color: #f6aa1c;
}
