@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;500;700;900&display=swap");
* {
	font-size: 25px;
}

body {
	margin: 0 auto;
	padding: 0;
	font-family: "roboto";
	background-color: #ecd9f0;

	display: flex;
	justify-content: center;
}

.create-card-btn {
	margin-top: 30px;
	padding: 10px 30px;
	margin-bottom: 30px;
}

.new-card-div {
	display: flex;
	justify-content: center;
	margin: 0 auto;
	min-width: 20vw;
	max-width: 50vw;
}

.create-card-div {
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	text-align: center;
	align-items: center;
	background-color: #995db5;
	min-width: 15vw;
	max-width: 50vw;

	font-size: 25px;
	display: none;
}

#add-new-btn {
	/* margin-top: 30px; */
	padding: 10px 30px;
	margin-bottom: 30px;
}

.cardDeleteBtn,
.cardEditBtn {
	margin-top: 10px;
}

.questionLabel,
.answerLabel,
.hintLabel {
	font-size: 25px;
	color: darkcyan;
}

.cancel-icon {
	display: flex;
	justify-content: right;
	margin: 0 auto;
	margin-right: 20px;
	margin-top: 20px;
}

.fa-solid {
	margin-top: 10px;
	font-size: 60px;
}

h1 {
	font-size: 40px;
	margin-bottom: 20px;
	display: flex;
	flex-direction: column;
	text-align: center;
}

.create-card-div-info {
	display: flex;
	flex-direction: column;
}

label {
	display: inline-block;
	width: 200px;
	text-align: right;
	margin-left: 100px;
}

input {
	font-size: 30px;
	margin: 0 auto;
	margin: 10px 100px;
	padding: 10px 60px;
}

.questionHolder,
.answerHolder,
.hintHolder {
	font-size: 30px;
	margin: 0 auto;
	padding: 10px 60px;
}
.hide {
	display: none;
}

.flashcardInfoDiv {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 0 auto;
	background-color: #d0cbd2;
	padding: 40px 60px;
}

.show-hide-btn {
	border: 2px solid #1a1a1a;
	border-radius: 15px;
	box-sizing: border-box;
	color: #3b3b3b;
	cursor: pointer;
	display: inline-block;
	font-size: 26px;

	margin: 0;
	min-height: 60px;
	min-width: 0;
	outline: none;
	padding: 16px 24px;
	text-align: center;
}

.new-card-holder {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	/* justify-content: space-evenly; */
}
